In [386]:
import pandas as pd
from datetime import datetime

In [387]:
df = pd.read_csv('/home/Machine Learning/projects/developia-movie-recommendation/dataset/movie_dataset.csv')

First 5 tuple

In [ ]:
df.head(5)

Type of the columns

In [ ]:
df.dtypes

Display the number of null counts of columns

In [ ]:
df.isnull().sum()

Get the longest movie title

In [390]:
df[df['runtime'] == df['runtime'].max()]['title']
#df['title'][5097]

5097    Voyna i mir
Name: title, dtype: object

In [ ]:
#get the title and rate of null values
df[df['keywords'].isnull()][['title', 'rate', 'release_date']]

In [ ]:
df_without_null_kw = df[df['keywords'].notnull()]
print(df.count(), df_without_null_kw.count())

In [393]:
df_drop_na = df.copy()

In [ ]:
#drop if keywords is null
df_drop_na = df_drop_na[df_drop_na['description'].isnull()]
df_drop_na.count()

In [395]:
df_drop_na = df_drop_na[df_drop_na['release_date'].notnull()]
df_drop_na.shape
df_drop_na.head(5)

,_id,url,title,description,genres,runtime,runtime_str,release_date,langs,origins,production_companies,top_cast,director_creator,rate,type,img_url,keywords
12,tt6263850,https://www.imdb.com/title/tt6263850,Deadpool 3,NaN,"['Action', 'Comedy', 'Sci-Fi']",NaN,NaN,06-09-24,['English'],['United States'],['Marvel Studios'],"[{'actor': 'Ryan Reynolds', 'character': 'Wade...",['Shawn Levy'],NaN,movie,https://m.media-amazon.com/images/M/MV5BMGI0ZD...,NaN
93,tt15239678,https://www.imdb.com/title/tt15239678,Dune: Part Two,NaN,"['Action', 'Adventure', 'Drama']",NaN,NaN,17-11-23,['English'],"['United States', 'Canada']","['Legendary Entertainment', 'Warner Bros. Ente...","[{'actor': 'Florence Pugh', 'character': 'Prin...",['Denis Villeneuve'],NaN,movie,https://m.media-amazon.com/images/M/MV5BYjFkM2...,NaN
2715,tt11210390,https://www.imdb.com/title/tt11210390,Astérix & Obélix: L'Empire du Milieu,NaN,"['Adventure', 'Comedy', 'Family']",NaN,NaN,24-02-23,['French'],['France'],"['Artémis Productions', 'Gialla Productions', ...","[{'actor': 'Marion Cotillard', 'character': 'C...",['Guillaume Canet'],NaN,movie,https://m.media-amazon.com/images/M/MV5BY2YwMj...,NaN
5444,tt15655024,https://www.imdb.com/title/tt15655024,Milano Debbie,NaN,['War'],95.0,1 hour 35 minutes,21-02-21,['Italian'],['Italy'],NaN,"[{'actor': 'Zlatan Ibrahimovic', 'character': ...","['Zlatan Ibrahimovic', 'Romelu Lukaku']",NaN,movie,https://m.media-amazon.com/images/M/MV5BNmZlYW...,NaN
6537,tt0236305,https://www.imdb.com/title/tt0236305,El hombre del alazán,NaN,"['Comedy', 'Drama', 'Western']",89.0,1 hour 29 minutes,01-10-59,['Spanish'],['Mexico'],['Producciones Matouk'],"[{'actor': 'Fernando Casanova', 'character': '...",['Rogelio A. González'],8.2,movie,https://m.media-amazon.com/images/M/MV5BYjc5OD...,NaN

In [396]:
df_drop_na['release_date'] = df_drop_na['release_date'].apply(lambda release_date: datetime.strptime(str(release_date) + ' 00:00:00', '%d-%m-%y %H:%M:%S'))

In [397]:
#print the title if year is greater than 2023
max_date = datetime.strptime('01-01-2023', '%m-%d-%Y')
df_drop_na[df_drop_na['release_date'] > max_date]['title']

12                                Deadpool 3
93                            Dune: Part Two
2715    Astérix & Obélix: L'Empire du Milieu
6537                    El hombre del alazán
6803                           El fronterizo
Name: title, dtype: object